<h1>Earthquakes</h1>

<%= render partial: 'form' %>

<table>
  <thead>
    <th>Time</th>
    <th>Location</th>
    <th>Magnitude</th>
    <th>Distance</th>
  </thead>
  <tbody id="earthquakes">
    <%= render @earthquakes %>
  </tbody>
</table>
