<table class="table">
  <thead class="thead-inverse">
    <th>Time</th>
    <th>Location</th>
    <th>Magnitude</th>
    <th>Distance</th>
  </thead>
  <tbody id="earthquakes">
    <%= render @earthquakes %>
  </tbody>
</table>
